h1{
    color: green;
    font-family: "Playwrite HU";
}

.highPriority{
    background-color: rgb(255, 108, 108);
}

.mediumPriority{
    background-color: rgb(253, 240, 123);
}

.lowPriority{
    background-color: rgb(118, 176, 118);
}

th,td {
    border: 1px solid black;
    font-family: "Roboto";
}

.completed{
    text-decoration: line-through;
}

th {
    background-color: aqua;
}

.newToDo {
    border: 1px solid black;
    padding: 3px;
    margin-top: 10px;
}