h1{
    color: green;
}

.highPriority{
    background-color: rgb(255, 108, 108);
}

.mediumPriority{
    background-color: rgb(253, 240, 123);
}

.lowPriority{
    background-color: rgb(118, 176, 118);
}

th,td {
    border: 1px solid black;
}